@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;600&display=swap');
body{
    background-color: #532a7f;
    font-family: Archivo;
}
.main_div{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.page_disc>p{
    text-align: center;
    font-size: 16px;
    width: 450px;
    height: auto;
    
}
button{
    background-color: #EFEFEF;
    color: #532a7f;
    border: none;
    border-radius: 0%;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10%;
    position:relative;
    top: 10px;
    
    
}
button:hover{
    cursor: pointer;
}

.playlist>ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}
.playlist>ul>li>p{
 display: inline-block;
 width: 30px;
 height: 20px;
 text-align: center;
 background-color: #BB00FC;
 margin: 8px;
 
}
.playlist{
    border: 2px;
    border-color: #EFEFEF;
    border-style: solid;
}
#song_list{
    visibility: hidden;
}
@media (max-width:600px) {
    p {
      
      font-size: 10px;
     
    }
    
    .playlist>ul {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, 1fr);
    }
    .main_div{
        margin: 0;
    }
  }
